<!DOCTYPE html>
<html> 
<!--导入通用的头部数据-->
{{ partial "head.html" . }}  
<body> 

{{ partial "header.html" . }}  
	
<section class="main-content-container">
 
 
<!--是否过滤相关的页面-->

 
<!--过滤非 post 页面--> 
{{ $pages:=.Pages.ByDate.Reverse }}
{{ if .Site.Params.filterTypePost }}
    {{ $pages = where .Pages.ByDate.Reverse "Type" "post"  }}
{{ end }}

{{ $paginator := .Paginate $pages  }}

{{ range $paginator.Pages }}
   {{ partial "summary.html" . }}  
{{ end }}

</section>

{{ partial "pagination.html" .}} 



{{ partial "footer.html" . }}  
 


 

</body> 
</html>